<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PageObject Suite">

<listeners>
    <listener class-name="com.sayem.listener.TestsListenerAdapter" />
</listeners>

    <test name="Account Dashboard Test">
        <classes>
            <class name="com.sayem.testcases.AccountDashboard" />
        </classes>
    </test>

    <test name="Address Book Test">
        <classes>
            <class name="com.sayem.testcases.AddressBook" />
        </classes>
    </test>

    <test name="Add to Cart testt">
        <classes>
            <class name="com.sayem.testcases.AddToCart" />
        </classes>
    </test>

    <test name="Change Password Test">
        <classes>
            <class name="com.sayem.testcases.ChangePassword" />
        </classes>
    </test>

    <test name="Checkout Test">
        <classes>
            <class name="com.sayem.testcases.Checkout" />
        </classes>
    </test>

    <test name="Login Test">
        <classes>
            <class name="com.sayem.testcases.LoginTest" />
        </classes>
    </test>

    <test name="Manage Credit Card Test">
        <classes>
            <class name="com.sayem.testcases.ManageCreditCards" />
        </classes>
    </test>

    <test name="My Credit Cards Test">
        <classes>
            <class name="com.sayem.testcases.MyCredits" />
        </classes>
    </test>

    <test name="My Invitations Test">
        <classes>
            <class name="com.sayem.testcases.MyInvitations" />
        </classes>
    </test>

    <test name="My Orders Test">
        <classes>
            <class name="com.sayem.testcases.MyOrders" />
        </classes>
    </test>

    <test name="Registration Test">
        <classes>
            <class name="com.sayem.testcases.Registration" />
        </classes>
    </test>

    <test name="Reset Password Test">
        <classes>
            <class name="com.sayem.testcases.ResetPassword" />
        </classes>
    </test>


</suite>
