<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PageObject Suite">

<listeners>
    <listener class-name="com.sayem.listener.TestsListenerAdapter" />
</listeners>

    <test name="Login test">
        <classes>
            <class name="com.sayem.testcases.LoginTest" />
        </classes>
    </test>

    <test name="Add New Address Book test">
        <classes>
            <class name="com.sayem.testcases.AddressBook" />
        </classes>
    </test>

    <test name="Reset Password test">
        <classes>
            <class name="com.sayem.testcases.ResetPassword" />
        </classes>
    </test>

    <test name="Registration Test">
        <classes>
            <class name="com.sayem.testcases.RegistrationTest" />
        </classes>
    </test>

</suite>
